/**********************
*	Imports 
 **********************/

@import url("./styles/fonts.css");
@import url("./styles/colors.css");
@import url("./styles/buttons.css");
@import url("./styles/form.css");

:root {
  /* Sizing */
  --max-width: 1100px;
  --nav-height: 60px;

  /* buttons */
  --btn-hsl-opacity: 0.3;
}

/**********************
*	Resets and Defaults 
 **********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
}

body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-weight: var(--fw-200);
  color: var(--clr-foreground);
  background-color: var(--clr-background);
}

h1,
h2,
h3 {
  font-family: var(--ff-secondary);
}

h1 {
  font-size: 2rem;
  font-weight: var(--fw-900);
}

h2 {
  font-size: 1.6rem;
  font-weight: var(--fw-800);
}

h3 {
  font-size: 1.4rem;
  font-weight: var(--fw-800);
}

img {
  max-width: 100%;
  display: block;
}

i {
  font-size: 1.1rem;
}

a {
  height: 100%;
}

pre,
code {
  font-family: var(--ff-mono);
  font-size: 1rem;
}

a {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/**********************
*	Utility Classes 
 **********************/
.modal-comp {
  background-color: var(--clr-background);
  color: var(--clr-foreground);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  max-width: 400px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 2px var(--clr-secondary);
  box-shadow: 2px 4px var(--clr-secondary);
}
.modal-comp button {
  color: var(--clr-background);
  background-color: var(--clr-foreground);
}
.auth-wrapper {
  min-height: calc(60vh - var(--nav-height));
  display: grid;
  place-items: center;
}

.flex-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.close {
  display: flex;
  justify-content: right;
}
/**********************
*	SPA styles 
 **********************/
.app {
  min-height: inherit;
  display: block;
  width: 100%;
}

.comp-wrapper {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: 1rem;
}

/**********************
*	Form styles. 
 **********************/

/**********************
*	Custom Properties 
 **********************/
