/**********************
*	Custom Properties 
 **********************/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Overpass:wght@700;900&display=swap");
:root {
  /* Fonts */
  --fw-100: 300;
  --fw-200: 400;
  --fw-300: 700;
  --fw-400: 900;

  /* Sizing */
  --max-width: 400px;
  --nav-height: 60px;

  /* colors */
  --clr-space-cadet: #1a3365;
  --clr-selective-yellow: #ffbb00;
  --clr-tart-orange: #ff4343;
  --clr-white: #ffffff;
  --clr-space-cadet_hsl: 220, 59%, 25%;
  --clr-selective-yellow_hsl: 44, 100%, 50%;
  --clr-tart-orange_hsl: 0, 100%, 63%;
  --clr-white_hsl: 0, 0%, 100%;

  --clr-dark: var(--clr-space-cadet);
  /* --light-coral: hsla(357, 96%, 71%, 1);
  --sonic-silver: hsla(227, 6%, 45%, 1);
  --mountbatten-pink: hsla(347, 17%, 55%, 1);
  --space-cadet: hsla(232, 27%, 23%, 1);
  --silver-chalice: hsla(45, 2%, 69%, 1); */

  /* CSS HEX */
  /* --light-coral: #fc6c73ff;
  --sonic-silver: #6d707bff;
  --mountbatten-pink: #9f7780ff;
  --space-cadet: #2a2e49ff;
  --silver-chalice: #b1b0adff; */

  /* CSS HSL */
  /* --light-coral: hsla(357, 96%, 71%, 1);
  --sonic-silver: hsla(227, 6%, 45%, 1);
  --mountbatten-pink: hsla(347, 17%, 55%, 1);
  --space-cadet: hsla(232, 27%, 23%, 1);
  --silver-chalice: hsla(45, 2%, 69%, 1); */

  /* SCSS HEX */
  /* $light-coral: #fc6c73ff;
  $sonic-silver: #6d707bff;
  $mountbatten-pink: #9f7780ff;
  $space-cadet: #2a2e49ff;
  $silver-chalice: #b1b0adff; */

  /* SCSS HSL */
  /* $light-coral: hsla(357, 96%, 71%, 1);
  $sonic-silver: hsla(227, 6%, 45%, 1);
  $mountbatten-pink: hsla(347, 17%, 55%, 1);
  $space-cadet: hsla(232, 27%, 23%, 1);
  $silver-chalice: hsla(45, 2%, 69%, 1); */

  /* SCSS RGB */
  /* $light-coral: rgba(252, 108, 115, 1);
  $sonic-silver: rgba(109, 112, 123, 1);
  $mountbatten-pink: rgba(159, 119, 128, 1);
  $space-cadet: rgba(42, 46, 73, 1);
  $silver-chalice: rgba(177, 176, 173, 1); */

  /* SCSS Gradient */
  /* $gradient-top: linear-gradient(
    0deg,
    #fc6c73ff,
    #6d707bff,
    #9f7780ff,
    #2a2e49ff,
    #b1b0adff
  );
  $gradient-right: linear-gradient(
    90deg,
    #fc6c73ff,
    #6d707bff,
    #9f7780ff,
    #2a2e49ff,
    #b1b0adff
  );
  $gradient-bottom: linear-gradient(
    180deg,
    #fc6c73ff,
    #6d707bff,
    #9f7780ff,
    #2a2e49ff,
    #b1b0adff
  );
  $gradient-left: linear-gradient(
    270deg,
    #fc6c73ff,
    #6d707bff,
    #9f7780ff,
    #2a2e49ff,
    #b1b0adff
  );
  $gradient-top-right: linear-gradient(
    45deg,
    #fc6c73ff,
    #6d707bff,
    #9f7780ff,
    #2a2e49ff,
    #b1b0adff
  );
  $gradient-bottom-right: linear-gradient(
    135deg,
    #fc6c73ff,
    #6d707bff,
    #9f7780ff,
    #2a2e49ff,
    #b1b0adff
  );
  $gradient-top-left: linear-gradient(
    225deg,
    #fc6c73ff,
    #6d707bff,
    #9f7780ff,
    #2a2e49ff,
    #b1b0adff
  );
  $gradient-bottom-left: linear-gradient(
    315deg,
    #fc6c73ff,
    #6d707bff,
    #9f7780ff,
    #2a2e49ff,
    #b1b0adff
  );
  $gradient-radial: radial-gradient(
    #fc6c73ff,
    #6d707bff,
    #9f7780ff,
    #2a2e49ff,
    #b1b0adff
  ); */
}

@media (min-width: 768px) {
  :root {
  }
}

/**********************
*	Resets and Defaults 
 **********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: var(--fw-200);
  color: var(--clr-dark);
  background-color: var(--clr-white);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Overpass", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

button {
  outline: 0;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  font-size: 1rem;
}

/**********************
*	Custom Properties 
 **********************/

/**********************
*	Custom Properties 
 **********************/

/**********************
*	Custom Properties 
 **********************/

/**********************
*	Custom Properties 
 **********************/
