/**********************
*	Custom Properties 
 **********************/
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Open+Sans:wght@400;500&display=swap");
:root {
  /* Fonts */
  --fw-100: 400;
  --fw-200: 500;
  --fw-300: 700;

  /* Sizing */
  --max-width: 400px;
  --nav-height: 60px;

  /* colors */
  --clr-space-cadet: #1a3365;
  --clr-selective-yellow: #ffbb00;
  --clr-tart-orange: #ff4343;
  --clr-white: #ffffff;
  --clr-space-cadet_hsl: 220, 59%, 25%;
  --clr-selective-yellow_hsl: 44, 100%, 50%;
  --clr-tart-orange_hsl: 0, 100%, 63%;
  --clr-white_hsl: 0, 0%, 100%;

  --clr-dark: var(--clr-space-cadet);
}

@media (min-width: 768px) {
  :root {
  }
}

/**********************
*	Resets and Defaults 
 **********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: var(--fw-100);
  color: var(--clr-dark);
  background-color: var(--clr-white);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Domine", serif;
  font-weight: var(--fw-300);
}

img {
  max-width: 100%;
  display: block;
}

button {
  outline: 0;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  font-size: 1rem;
}

/**********************
*	Custom Properties 
 **********************/

/**********************
*	SPA styles 
 **********************/
.app {
  min-height: inherit;
  display: block;
  width: 100%;
}

.comp-container {
  min-height: calc(100vh - var(--nav-height));
}

/**********************
*	Custom Properties 
 **********************/

/**********************
*	Custom Properties 
 **********************/
