@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Manrope:wght@600;700;800&family=PT+Mono&display=swap");

:root {
  --fw-100: 300;
  --fw-200: 400;
  --fw-300: 500;
  --fw-400: 700;
  --fw-500: 800;
  --fw-600: 900;

  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Manrope", sans-serif;
  --ff-mono: "PT Mono", monospace;
}
